@import "../../styles/Mixins.scss";

.left-sidebar {
  .drawer-content {
    margin-top: 60px;
    min-width: 240px;
    overflow: auto;

    .list {
      .group-title {
        padding: 16px 0 16px 16px;
  
        &:first-child {
          span {
            font-size: 1.2rem;
          }
        }
  
        &:not(:first-child) {
          margin-bottom: 5px;
          padding-bottom: 5px;
        }
      }

      .list-item {
        &.last {
          margin-bottom: 10px;
        }

        span {
          @include overflow-handler;
          padding-right: 20px;
        }
      }
    }
  }
}