@import "../../styles/Mixins.scss";

.login-container,
.register-container {
  @include form-wrapper;
  margin-top: 100px;
}

.login-container {
  button {
    margin: 20px 0px 16px;
  }
}

.register-container {
  .org-select {
    width: 100%;
    margin: 8px 0px 8px;
  }

  button {
    margin: 8px 0px 0px;
  }
}